body {
  background-color: #F7FAFC;
  font-family: 'Work Sans';
  font-weight: 400;
  color: #404C55;
}

h1 {
  font-size: 38;
  font-weight: bold;
}

.btn-light {
  background-color: transparent;
  padding: 10px 14px;
  /* border: '1px solid #404C55'; */
  border-radius: 10px;
  color: #000000;
  font-family: 'Roboto';
}

.btn-dark {
  border: none;
  padding: 10px 14px;
  background-color: #404C55;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: 'Roboto';
}

.btn-colored {
  width: 124px;
  height: 36px;
  background-color: #E6FCFF;
  border-radius: 10px;
  border: none;
  font-family: 'Roboto';
}

label {
  font-size: 14;
  font-weight: bold;
}