body {
  background-color: #F7FAFC; 
  font-family: 'Work Sans';
  font-weight: 400;
  color: #404C55;
}

h1 {
  font-size: 38;
  font-weight: bold;
}

.btn-light {
  background-color: transparent;
  padding: 10px 14px;
  /* border: '1px solid #404C55'; */
  border-radius: 10px;
  color: #000000;
  font-family: 'Roboto';
}

.btn-dark {
  border: none;
  padding: 10px 14px;
  background-color: #404C55;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: 'Roboto';
}

.btn-colored {
  width: 124px;
  height: 36px;
  background-color: #E6FCFF;
  border-radius: 10px;
  border: none;
  font-family: 'Roboto';
}

label {
  font-size: 14;
  font-weight: bold;
}

/* Modal styling */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(64, 76, 85, 0.5); /* same as #404C55 */
  z-index: 999999 !important;
}

.modal-content {
  margin: 20% auto;
  /* max-width: 500px; */
  width: 520px;
  height: 356px;
  /* text-align: center; */
  /* display: flex; */
  /* justify-content: center; */
  background-color: #fff;
  padding: 15px 22px 20px 22px;
  animation: scale 0.5s ease;
  border-style: none;
  border-radius: 20px;
  box-shadow: 0px 4px 25px rgba(64, 76, 85, 0.15);
  /* position: absolute; */
}

.modal-header {
  font-size: 34;
  font-weight: bold;
}

.modal-description {
  font-size: 16;
  font-weight: bold;
}